<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" />
  <title>ReccoFlix</title>
</head>

<body>
  <div class="container">
    <!-- <div class="nav">
      <div class="nav-name">
        <p>ReccoFlix</p>
      </div>
      <div class="nav-menu">
        <ul>
          <li>home</li>
          <li>browse</li>
          <li>signin</li>
          <li>search</li>
        </ul>
      </div>
    </div> -->
    <%- include("partials/header.ejs") %>
    <div class="main-content-wrapper">
      <div class="content">
        <% for (let i=0; i < items.length; i++) { %>
          <div class="anime-card">
            <img src="<%= items[i].attributes.posterImage.small %>" alt="<%= items[i].attributes.titles.en || 'Anime Poster' %>">
            <p class="anime-title"><%= items[i].attributes.canonicalTitle %></p>
          </div>
          <% } %>
        </div>
      </div>
    <%- include("partials/footer.ejs") %>
  </div>
  <script src="js/main.js"></script>
</body>
</html>